{% extends "layout_blog.html" %}

{% block pageTitle %}
  How to share resources in your service community - Service communities - GOV.UK
{% endblock %}

{% block content %}

<div class="container">
    <header class="header" role="banner">
    <div class="grid-row">

        
        <div class="column-two-thirds">
            <h1 class="blog-title">
                <span class="blog"><a href="#">Blog</a></span>
                <a href="/blog">Service communities in government</a>
            </h1>

                            <div class="bottom blog-meta">
                                                    <dl>
                                <dt>Organisations:</dt>
                                <dd><a href="https://www.gov.uk/government/organisations/civil-service">Civil Service</a></dd>
                            </dl>
                                                                </div>
                    </div>

        

    </div>

            <div class="grid-row">
                    </div>
    
</header>
      <main id="content" class="grid-row" role="main">
    <div class="column-two-thirds main-content">
        <article class="clearfix post-11418 post type-post status-publish format-standard has-post-thumbnail hentry category-content category-product-changes">
    <header>
      <h1 class="entry-title">How to share resources in your service community</h1>
      <div class="byline author vcard">
    <span class="visuallyhidden">Posted by: </span>
  <a href="#" title="Posts by Alan Maddrell" class="author url fn" rel="author">Ben Carpenter</a>, <span class="visuallyhidden">Posted on: </span><time class="updated" datetime="2018-12-18T14:14:58+00:00" pubdate>1 October 2018</time></div>
    </header>
    <div class="entry-content">

{% include "contributions.html" %}
<figure>
  <img width="620" height="412" src="/public/images/sharing-resources.jpg" class="attachment-large size-large wp-post-image" alt="Service communities">
</figure>
<p>Sharing resources and information, and involving other service community members in your research, can lead to savings and extra knowledge across the service community. Members may gain access to information and insights that they would not otherwise have been able to seek out or create. </p>
  <p>In the start a business service community, Companies House invited other members to use their user research sessions to test elements of the end to end journey that were beyond their own immediate responsibility. They also invited other members to contribute questions for research.</p>
  <p>Sharing the research meant that community members gained insight into the wider user journey. It meant that governemt saved time and money by answering multiple departments reserch questions in one session. </p> 
  <p><em><a href="#">Contact Ben</a> if have any questions about how to use this in your service community.</em></p>
    </div>
    <footer class="single">
                      </footer>
  </article>

  <nav class="page-numbers-container page-navigation" aria-label="Pagination">
    <div class="previous">
      <a href="/blog/create-community-backlog" rel="prev">What does a good community backlog look like?</a>    </div>
    <div class="next">
      <a href="/blog/create-step-by-step-to-simplify-user-journey" rel="next">Step-by-step services in service communities</a>
          </div>
  </nav>

  
</div>
<div class="column-one-third sidebar-contain">
      {% include "sidebar.html" %}
    </div>
</main>
</div>

  {% endblock %}