{% extends "layout_blog.html" %}

{% block pageTitle %}
  Create a step-by-step to help simplify the user journey on GOV.UK - Service communities - GOV.UK
{% endblock %}

{% block content %}

<div class="container">
    <header class="header" role="banner">
    <div class="grid-row">

        
        <div class="column-two-thirds">
            <h1 class="blog-title">
                <span class="blog"><a href="#">Blog</a></span>
                <a href="/blog">Service communities</a>
            </h1>

                            <div class="bottom blog-meta">
                                                    <dl>
                                <dt>Organisations:</dt>
                                <dd><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></dd>
                            </dl>
                                                                </div>
                    </div>

        

    </div>

            <div class="grid-row">
                    </div>
    
</header>
      <main id="content" class="grid-row" role="main">
    <div class="column-two-thirds main-content">
        <article class="clearfix post-11418 post type-post status-publish format-standard has-post-thumbnail hentry category-content category-product-changes">
    <header>
      <h1 class="entry-title">Create a step-by-step to help simplify the user journey on GOV.UK</h1>
      <div class="byline author vcard">
    <span class="visuallyhidden">Posted by: </span>
  <a href="#" title="Posts by Alan Maddrell" class="author url fn" rel="author">Will Harmer</a>, <span class="visuallyhidden">Posted on: </span><time class="updated" datetime="2018-12-18T14:14:58+00:00" pubdate>21 October 2018</time></div>
    </header>
    <div class="entry-content">

{% include "contributions.html" %}
<p>A step by step navigation is a way of presenting end-to-end journeys. It groups existing guidance and transactions into a series of steps. <a href="https://gds.blog.gov.uk/2017/11/30/building-end-to-end-services-into-gov-uk/">This blog post explains more</a>.</p>
Many step by step navigations have now been created, including <a href="https://www.gov.uk/learn-to-drive-a-car">Learning to drive</a> and <a href="https://www.gov.uk/employ-someone">Employing someone</a>.
The start a business service community used a workshop to identify potential step by steps, ranging in scope from 'setup a business' to 'choose legal entity'. They worked with the GDS GOV.UK team to plan potential step by steps and then used a further workshop to review and create prototypes.</p>
    </div>
    <footer class="single">
                      </footer>
  </article>

  <nav class="page-numbers-container page-navigation" aria-label="Pagination">
    <div class="previous">
      <a href="https://insidegovuk.blog.gov.uk/2018/11/28/making-sure-users-see-updates-caching/" rel="prev">Making sure users can see updates by optimising caching</a>    </div>
    <div class="next">
          </div>
  </nav>

  
</div>
<div class="column-one-third sidebar-contain">
      {% include "sidebar.html" %}
    </div>
</main>
</div>

  {% endblock %}