{% extends "layout_blog.html" %}

{% block pageTitle %}
  Create a proposal document - Service communities - GOV.UK
{% endblock %}

{% block content %}

<div class="container">
    <header class="header" role="banner">
    <div class="grid-row">

        
        <div class="column-two-thirds">
            <h1 class="blog-title">
                <span class="blog"><a href="#">Blog</a></span>
                <a href="/blog">Service communities</a>
            </h1>

                            <div class="bottom blog-meta">
                                                    <dl>
                                <dt>Organisations:</dt>
                                <dd><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></dd>
                            </dl>
                                                                </div>
                    </div>

        

    </div>

            <div class="grid-row">
                    </div>
    
</header>
      <main id="content" class="grid-row" role="main">
    <div class="column-two-thirds main-content">
        <article class="clearfix post-11418 post type-post status-publish format-standard has-post-thumbnail hentry category-content category-product-changes">
    <header>
      <h1 class="entry-title">Create a proposal document for your service community</h1>
      <div class="byline author vcard">
    <span class="visuallyhidden">Posted by: </span>
  <a href="#" title="Posts by Alan Maddrell" class="author url fn" rel="author">Katie John</a> and <a href="#" title="Posts by Ganesh Senthi" class="author url fn" rel="author">Ben Carpenter</a>, <span class="visuallyhidden">Posted on: </span><time class="updated" datetime="2018-12-18T14:14:58+00:00" pubdate>21 January 2019</time></div>
    </header>
    <div class="entry-content">

{% include "contributions.html" %}


<p>A clear proposal for the service community will help you to gather support and ensure everyone involved has a clear and shared understanding of its purpose. </p>
<p><a href="https://docs.google.com/document/d/1nAIaQikbojJf0CG2uzOopGae6E3YiaBiVdXoxdLArkE/edit">Defra collaborated with DIT to write a proposal</a> for the creation of an Import-Export service sommunity. They highlighted common issues for multiple departments working in the area, and how efforts were being duplicated and transformation opportunities missed. </p>
<p>They proposed a service community be used as a forum for collaboration, to be more efficient and effective. The proposal laid out how the service community would be delivery focused, sharing insight and knowledge, and avoiding creating new governance structures or slowing down other delivery schedules. </p>
<p>The proposal outlined potential service community outcomes, including supporting user-centred design, building relationships across departments and highlighting cross-cutting issues. It was distributed to relevant departments and teams, in advance of the service community’s kick-off workshop. <a href="https://docs.google.com/document/d/1nAIaQikbojJf0CG2uzOopGae6E3YiaBiVdXoxdLArkE/edit">Read the Import-Export service community proposal</a>.</p>

    </div>
    <footer class="single">
                      </footer>
  </article>

  <nav class="page-numbers-container page-navigation" aria-label="Pagination">
    <div class="previous">
      <a href="/blog/create-service-landscape" rel="prev">Create a service landscape</a>    </div>
    <div class="next">
          </div>
  </nav>

  
</div>
<div class="column-one-third sidebar-contain">
  {% include "sidebar.html" %}      
</div>
</main>
</div>

  {% endblock %}