{% extends "layout_blog.html" %}

{% block pageTitle %}
  Set up communication channels - Service communities - GOV.UK
{% endblock %}

{% block content %}

<div class="container">
    <header class="header" role="banner">
    <div class="grid-row">

        
        <div class="column-two-thirds">
            <h1 class="blog-title">
                <span class="blog"><a href="#">Blog</a></span>
                <a href="/blog">Service communities</a>
            </h1>

                            <div class="bottom blog-meta">
                                                    <dl>
                                <dt>Organisations:</dt>
                                <dd><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></dd>
                            </dl>
                                                                </div>
                    </div>

        

    </div>

            <div class="grid-row">
                    </div>
    
</header>
      <main id="content" class="grid-row" role="main">
    <div class="column-two-thirds main-content">
        <article class="clearfix post-11418 post type-post status-publish format-standard has-post-thumbnail hentry category-content category-product-changes">
    <header>
      <h1 class="entry-title">Set up communication channels</h1>
      <div class="byline author vcard">
    <span class="visuallyhidden">Posted by: </span>
  <a href="#" title="Posts by Alan Maddrell" class="author url fn" rel="author">Will Harmer</a>, <span class="visuallyhidden">Posted on: </span><time class="updated" datetime="2018-12-18T14:14:58+00:00" pubdate>28 November 2018</time></div>
    </header>
    <div class="entry-content">

{% include "contributions.html" %}
<p>It’s important that everyone in the Service Community can easily communicate with each other, and don’t have to wait for meetings or conference calls. This will help with information sharing, unblocking problems and ensuring cohesion among members. There are many ways to keep people connected:</p>
<ul>
  <li>set up a Google Group, which acts as an online forum and email list</li>
  <li>create a dedicated Slack for the community</li>
  <li>have a shared online calendar</li>
  <li>arrange frequent short meetings (sometimes called stand-ups) that everyone dials into to share their current work and blockers</li>
</ul>

    </div>
    <footer class="single">
                      </footer>
  </article>

  <nav class="page-numbers-container page-navigation" aria-label="Pagination">
    <div class="previous">
      <a href="/blog/agree-common-language" rel="prev">Agree a common language</a>    </div>
    <div class="next">
      <a href="/blog/agree-common-language" rel="next">Agree terms of reference</a> 
          </div>
  </nav>

  
</div>
<div class="column-one-third sidebar-contain">
      {% include "sidebar.html" %}
    </div>
</main>
</div>

  {% endblock %}