{% extends "layout_blog.html" %}

{% block pageTitle %}
  Why you should set up a service community - Service communities - GOV.UK
{% endblock %}

{% block content %}

<div class="container">
    <header class="header" role="banner">
    <div class="grid-row">

        
        <div class="column-two-thirds">
            <h1 class="blog-title">
                <span class="blog"><a href="#">Blog</a></span>
                <a href="/blog">Service communities in government</a>
            </h1>

                            <div class="bottom blog-meta">
                                                    <dl>
                                <dt>Organisations:</dt>
                                <dd><a href="https://www.gov.uk/government/organisations/civil-service">Civil Service</a></dd>
                            </dl>
                                                                </div>
                    </div>

        

    </div>

            <div class="grid-row">
                    </div>
    
</header>
      <main id="content" class="grid-row" role="main">
    <div class="column-two-thirds main-content">
        <article class="clearfix post-11418 post type-post status-publish format-standard has-post-thumbnail hentry category-content category-product-changes">
    <header>
      <h1 class="entry-title">Why you should set up a service community</h1>
      <div class="byline author vcard">
    <span class="visuallyhidden">Posted by: </span>
  <a href="#" title="Posts by Alan Maddrell" class="author url fn" rel="author">Kuba Bartwicki</a>, <span class="visuallyhidden">Posted on: </span><time class="updated" datetime="2018-12-18T14:14:58+00:00" pubdate>14 March 2019</time></div>
    </header>
    <div class="entry-content">

      <figure>
        <img width="620" height="412" src="/public/images/why-set-up.jpg" class="attachment-large size-large wp-post-image" alt="Service communities">
      </figure>

<p>Service communities are networks of people from across the public sector who work together to design and deliver an end-to-end service, like start a business or get health benefits. </p>

<p>Anyone who works on a service can be a part of a community, whether they work in policy, delivery, or operations. Our team is working to enable anyone to set up a community so that we can grow this approach and improve end-to-end services in government.</p>


<h3>Make your service better for users</h3>

<p>Since the first one started in 2017, service communities helped people join up government services by working together across boundaries. Community members managed to improve the navigation on GOV.UK by publishing step-by-step guides to their services, like <a href="https://www.gov.uk/set-up-limited-company">Set up a limited company</a>. They also managed to reduce duplication in government by reusing resources from one another. <a href="https://gds.blog.gov.uk/2019/01/28/what-service-communities-are-achieving-across-government/">Read more about what service communities have accomplished</a>.</p>

<h3>Shape direction of your service</h3>

<p>Running a service community makes it easier for you to influence direction of your service. Having an awareness of what everybody in government is doing on a given end-to-end service makes it easier to spot opportunities for improvement. Recently, a member of the Start a business community used another department’s channel to communicate with their users, instead of having to build a new one.</p>

<h3>Improve your facilitation and collaboration skills</h3>

<p>Once your community is up and running, you will have to design and lead workshops, keep track of what the community is working on, and onboard new people. Our team can help you with this and give you the tools and support you need to be a great facilitator.</p>

<h3>Connect with others who work on your service</h3>

<p>Setting up a community will enable you to get a full overview of who does what on the wider context of your service. This can have numerous benefits, including increased awareness of research activities conducted across government. Having this means you can learn from each other’s successes and failures or ask for help when you need it.</p>

<h3>Get started</h3>

<p>Services come in all shapes and sizes, and so do service communities. For example, the import-export community includes 90 people from over 10 organisations, but the health benefits community includes 10 people from 2 organisations. If you are not sure what the wider context of your service is yet, don’t worry – our team can help. <a href="#">There is also guidance on the Service Manual</a>.</p>

<p>Our team can help with scoping, but also designing workshops. We provide guidance on how to collaborate in a sustainable way and case studies showing how others collaborated.</p>

<p>If you want to set up a service community for your end-to-end service, <a href="mailto:kuba.bartwicki@digital.cabinet-office.gov.uk">email us</a> or <a href="/service-manual/working-across-organisational-boundaries">read more about working across organisational boundaries</a>.
</p>





</p>

    </div>
    <footer class="single">
                      </footer>
  </article>

  <nav class="page-numbers-container page-navigation" aria-label="Pagination">
    <div class="previous"></div>
    <div class="next">
      <a href="/blog/create-proposal" rel="next">How to create a proposal document</a> 
          </div>
  </nav>

  
</div>
<div class="column-one-third sidebar-contain">
  {% include "sidebar.html" %}      
</div>
</main>
</div>

  {% endblock %}