
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div id="wrapper" class="direction-ltr">
<main role="main" id="content" lang="en">

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="page-header">
        <h1 class="page-header__title">Run a service community</h1>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/service-manual">Service manual - GOV.UK</a></li>
          <li><a href="/service-manual/communities/service-communities">Service communities - Service manual - GOV.UK</a></li>
          <li><a href="/service-manual/communities/service-communities/run">Run a service community - Service manual - GOV.UK</a></li>
        </ul>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/blog/create-proposal">How to create a proposal document</a></li>
          <li><a href="/blog/create-service-landscape">How service landscapes help service communities</a></li>
          <li><a href="/blog/agree-terms-reference">The benefit of clear objectives for communities</a></li>
          <li><a href="/blog/set-up-communication-channels">Tips for setting up communication channels</a></li>
          <li><a href="/blog/agree-common-language">Agreeing a common language in your service community</a></li>
          <li><a href="/blog/create-step-by-step-to-simplify-user-journey">Step-by-step services in service communities</a></li>
          <li><a href="/blog/share-resources">How to share resources in your service community</a></li>
          <li><a href="/blog/create-community-backlog">What does a good community backlog look like?</a></li>
        </ul>
      </div>
    </div>
  </div>

</main>
</div>

{% endblock %}
