
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div id="wrapper" class="direction-ltr">
<main role="main" id="content" lang="en">

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="page-header">
        <h1 class="page-header__title">Run a service community</h1>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/service-manual">Service manual - GOV.UK</a></li>
          <li><a href="/service-manual/communities/service-communities">Service communities - Service manual - GOV.UK</a></li>
          <li><a href="/service-manual/communities/service-communities/run">Run a service community - Service manual - GOV.UK</a></li>
        </ul>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/blog/create-proposal">Create a proposal document to articulate why you need a service community</a></li>
          <li><a href="/blog/create-service-landscape">Create a service landscape to get a common understanding of the scope of your service community</a></li>
          <li><a href="/blog/agree-terms-reference">Agree terms of reference to articulate objectives of your service community</a></li>
          <li><a href="/blog/set-up-communication-channels">Set up communication channels, so members of the service community can keep in contact</a></li>
          <li><a href="/blog/agree-common-language">Agree a common language, so that you are all referring to the same thing when talking about your service</a></li>
          <li><a href="/blog/create-step-by-step-to-simplify-user-journey">Create a step-by-step to help simplify the user journey on GOV.UK</a></li>
          <li><a href="/blog/share-resources">Share resources, so that you can understand how the end-to-end service is used</a></li>
          <li><a href="/blog/create-community-backlog">Create a community backlog to track progress in your service community</a></li>
        </ul>
      </div>
    </div>
  </div>

</main>
</div>

{% endblock %}
