<aside class="sidebar" role="complementary">
  <section class="widget about_widget"><h3>Service communities</h3><p>Service communities are networks of people with different skills that work across departments to design and deliver end-to-end services.</p><p>This blog helps facilitators and members of service communities develop their own by showing how others have done it before.</p>
</section>
<section class="widget about_widget"><h3>Learn more</h3>
  <ul style="list-style-type:none;padding-left:0;">
    <li><a href="#">Join a service community</a></li>
    <li><a href="/service-manual/communities/service-manual/run">Run a service community</a></li>
  </ul>
</section>

    <section class="widget recent-posts-3 widget_recent_entries"><div class="widget-inner">   <h3>Recent posts</h3>   <ul>
                      <li>
          <a href="/blog/create-proposal">Create a proposal document to articulate why you need a service community</a>
                      <span class="post-date">21 January 2019</span>
                  </li>
                  <li>
          <a href="/blog/create-service-landscape">Create a service landscape to get a common understanding of the scope of your service community</a>
                      <span class="post-date">18 January 2019</span>
                  </li>
                          <li>
                  <a href="/blog/agree-terms-reference">Agree terms of reference to articulate objectives of your service community</a>
                              <span class="post-date">1 December 2018</span>
                          </li>
                          <li>
                  <a href="/blog/set-up-communication-channels">Set up communication channels, so members of the service community can keep in contact</a>
                              <span class="post-date">28 November 2018</span>
                          </li>
                          <li>
                  <a href="/blog/agree-common-language">Agree a common language, so that you are all referring to the same thing when talking about your service</a>
                              <span class="post-date">15 November 2018</span>
                          </li>
                          <li>
                  <a href="/blog/create-step-by-step-to-simplify-user-journey">Create a step-by-step to help simplify the user journey on GOV.UK</a>
                              <span class="post-date">21 October 2018</span>
                          </li>
                          <li>
                  <a href="/blog/share-resources">Share resources, so that you can understand how the end-to-end service is used</a>
                              <span class="post-date">1 October 2018</span>
                          </li>
                          <li>
                  <a href="/blog/create-community-backlog">Create a community backlog to track progress in your service community</a>
                              <span class="post-date">1 October 2018</span>
                          </li>
          </ul>
    </div></aside>