<aside class="sidebar" role="complementary">
  <section class="widget about_widget"><h3>Service communities</h3><p>A blog about ???</p>
</section>

    <section class="widget recent-posts-3 widget_recent_entries"><div class="widget-inner">   <h3>Recent posts</h3>   <ul>
                      <li>
          <a href="https://insidegovuk.blog.gov.uk/2018/12/18/do-users-look-sideways-experimenting-with-a-new-way-of-moving-between-content-types/">Create a proposal document for your service community</a>
                      <span class="post-date">21 January 2019</span>
                  </li>
                  <li>
          <a href="https://insidegovuk.blog.gov.uk/2018/12/18/do-users-look-sideways-experimenting-with-a-new-way-of-moving-between-content-types/">Create a service landscape</a>
                      <span class="post-date">18 January 2019</span>
                  </li>
          </ul>
    </div></aside>